@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 font-family: 'Raleway', sans-serif;;
  background-color: rgb(61, 35, 35);
  background-image: url('https://raw.githubusercontent.com/koolkishan/react-glassmorphism-login-form/master/src/background.jpg');
  background-size: conver;
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(8.5px);
}
